.controle-produtos {
display: flex;
flex-direction: column;
height: 100vh;

}

.cabecalho {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 98%;
    padding: .8em;
    align-items: center;
}

.nome-adm {
    font: 500 .9em Montserrat;
}

.nome-adm span {
    font: 700 .9em Montserrat;
    margin-right: .5em;
}

.foto-adm img {
    width: 3em;
    height: 3em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.corpo {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.corpo-pt1 {
    font: 1.5em Montserrat;
    font-weight: bold;
    padding: 1em 0em;
}

.corpo-pt2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    border-radius: .7em;
    background-color: #f9f9f9;
    padding: 1em;
    justify-content: space-between;
    height: 3em;
    margin: .5em 0em;
}

.esquerda {
    display: flex;
    flex-direction: row;
}

.imagem img {
    width: 3em;
    height: 3.2em;
    margin-right: .7em;
}

.textos {
    display: flex;
    flex-direction: column;

}

.produto {
    font: 900 1em Montserrat;
    line-height: 1.6em;
}

.peso {
    font: 500 .8em Montserrat;
}

.botoes {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    align-items: center;
}

.botao1 button {
    border: none;
    color: white;
    background-color: #00F90A;
    padding: .7em 1.5em;
    border-radius: .7em;
    font: 800 .8em Montserrat;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.botao2 button {
    border: none;
    color: white;
    background-color: #F90000;
    padding: .7em 1.5em;
    border-radius: .7em;
    font: 800 .8em Montserrat;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: .7em;
}




