* {box-sizing: border-box;}

body {
    margin: 0px;
}

.container-admin {
    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em;
}

.perfil {
    font: 600 1.6em Roboto;
}

.sair img {
    width: 2.3em;
    height: 2.3em;
}

.conteudo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.admin-infos {
    display: flex;
    flex-direction: column;
    background-color: #FB8500;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    align-items: center;
    height: 25em;
    width: 20em;
    justify-content: center;
}

.cab.infos {
    background-color: #14213D;
    width: 3em;
}

.foto-perfil img {
    width: 4em;
    height: 4em;
}

.info {
    color: white;
    background-color: #219EBC;
    font: 500 1em Roboto;
    margin: .7em 0em;
    padding: .6em;
    border-radius: .5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 15em;
    text-align: center;
}

.info span {
    font: 600 1em Roboto;
}

.admin-funcoes {
    display: flex;
    flex-direction: column;
    background-color: #FB8500;
    margin: 1em;
    padding: 1em 1em 0em 1em;
    border-radius: 1em;
    align-items: center;
    height: 25em;
    width: 20em;
    justify-content: center;
}

.funcoes button {
    color: white;
    background-color: #219EBC;
    border: none;
    outline: none;
    padding: .5em 1em;
    border-radius: .5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 1em 0em;
    font: 500 1em Roboto;
    width: 15em;
}