@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0px;
}

*  {box-sizing: border-box;}


.container-conjunto {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Roboto;
}

.titulo {
    font: 900 2em Roboto;
    margin: 1em 0em;
}

.link {
    margin: .3em 0em;
}