@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    box-sizing: border-box;
    margin: 0px;
}

img {
    cursor: pointer;
}

.hortifruti-cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
}

.hortifruti-logo img {
    height: 4em;
    width: 4em;
    margin: 1em;
}

input {
    width: 450px;
    padding: 1em;
    margin: 1em;
    margin-left: 2.5em;

    border-radius: 40px;
    border: none;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hortifruti-buscar button {
    padding: 1em;
    padding-right: 2em;
    padding-left: 2em;
    margin-left: -8em;

    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;

    background-color: #FB8500;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hortifruti-buscar button:hover {
    transition: 0.8s;
    background-color: #f3a955;
}

.hortifruti-carrinho img {
    height: 4em;
    width: 4em;
    margin: 1em;
}

.hortifruti-carrinho2 img {
    height: 4em;
    width: 4em;
    margin-left: 21em;
}

.hortifruti-carrinho2:hover img {
    transition: 0.5s;
    height: 4.3em;
    width: 4.3em;
}

.hortifruti-contador {
    padding-top: 0.1em;
    padding-right: 0.4em;
    padding-left: 0.4em;
    padding-bottom: 0.1em;
    margin-top: -3em;
    margin-left: -0.7em;

    background-color: #FB8500;
    color: white;
    border-radius: 50%;
}

.hortifruti-texto {
    font: 100 1em Montserrat;
    margin-left: 5em;
}

.hortifruti-foto img {
    width: 5em;
    height: 5em;
    margin-left: 2em;
}

.hortifruti-foto:hover img {
    transition: 0.5s;
    height: 5.2em;
    width: 5.2em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.45));
}

.banner img {
    margin-left: 1em;
    margin-top: 20px;
    border-radius: 20px;
    width: 95vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.pontos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hortifruti-pontos {
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border-radius: 100%;
    margin: 10px;
    background-color: #E5E5E5;
    color: #E5E5E5;
    cursor: pointer;
}

.hortifruti-pontos:nth-child(1) {
    background-color: #FB8500;
    color: #FB8500;
}

.hortifruti-titulo {
    font: 600 2em Montserrat;
    margin: 2em;
    text-align: center;
}

.hortifruti {
    display: flex;
    flex-direction: column;
}

.hortifruti-colunas {
    display: flex;
    flex-direction: row;
    margin: 0.5em;
    margin-left: 0em;
    margin-top: -1em;
    margin-bottom: 2em;
}

.hortifruti-direita, .hortifruti-esquerda {
    margin-top: 8em;
}

.hortifruti-direita img {
    width: 2em;
    height: 2em;
}

.hortifruti-esquerda img {
    width: 2em;
    height: 2em;
}

.hortifruti-icones {
    margin: 0.5em;
    padding: 2em;

    border: 1px solid #BBBBBB;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.hortifruti-icones:hover {
    transition:  0.7s;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.75);
}

.img1 img {
    height: 8em;
    width: 8em;
}

.desc {
    font: 800 0.9em Montserrat;
}

.peso {
    font: 1000 0.7em Montserrat;
    margin-top: 0.5em;
    color: gray;
}

.preco {
    font: 800 0.9em Montserrat;
}

.botao {
    margin-top: 1em;
    margin-left: 6em;
}

.hortifruti-final {
    margin-top: 3em;
    background-color: #023047;
    height: 80vh;
}

.hortifruti-1 {
    font: 100 1em Montserrat;
    color: white;
    margin-left: 3em;
}

.categoria {
    font: 800 1em Montserrat;
    padding: 1.5em;
    margin-left: -2em;
}

.congela, .laticinios, .hort, .carnes, .limpeza, .higiene {
    margin: 1.5em;
    margin-top: 0.2em;
    margin-left: 0.2em;
}

.congela:hover, .laticinios:hover, .hort:hover, .carnes:hover, .limpeza:hover, .higiene:hover {
    transition: 0.5s;
    text-decoration: underline;
    cursor: pointer;
}

.hortifruti-2 {
    font: 100 1em Montserrat;
    color: white;
    margin-top: -21em;
    text-align: center;
}

.atendimento {
    font: 800 1em Montserrat;
    padding: 1.5em;
}

.horarios-2 {
    margin: 0.7em;
}

.horarios-3 {
    margin-top: -0.6em;
}

.hortifruti-3 {
    font: 100 1em Montserrat;
    color: white;
    margin-top: -8.8em;
    margin-left: 65em;
}

.redes {
    font: 800 1em Montserrat;
    padding: 1.5em;
}

.facebook img {
    width: 3em;
    height: 3em;
    margin-left: 1.5em;
}

.twitter {
    margin-top: -3.3em;
    margin-left: 5em;
}

.twitter img {
    width: 3em;
    height: 3em;
}

.instagram {
    margin-top: -3.3em;
    margin-left: 8.5em;
}

.instagram img {
    width: 3em;
    height: 3em;
}

.whats {
    margin-top: -3.3em;
    margin-left: 12em;
}

.whats img {
    width: 3em;
    height: 3em;
}

.contato {
    margin-top: 10.8em;
    margin-left: 2em;
}

.hortifruti-4 {
    font: 100 1em Montserrat;
    color: white;
}

.linha {
    width: 80em;
    height: 0.1em;
    margin-top: 1em;
    margin-left: 3em;
    background-color: #FB8500;
}

.hortifruti-img img {
    width: 4em;
    height: 4em;
    margin-top: 0.6em;
    margin-left: 3em;
    border-radius: 50%;
}

.texto-final {
    font: 100 1em Montserrat;
    color: #D3D3D3;
    margin-top: -4em;
    text-align: center;
}

.rodape {
    margin-top: 2em;
}