@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0px;
}

.container-cadastro-endereco {
    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    padding: 1em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-empresa img {
    width: 3em;
    height: 3em;

    border-radius: 4em;
    margin-top: 1em;
    margin-left: 0.5em;
}

.nome-usuario {
    font: 500 1em Roboto;
    margin-left: 84.5em;
    margin-top: -2em;
}

.imagem-usuario img {
    width: 3em;
    height: 3em;

    margin-left: 90em;
    margin-top: -2em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.container {
    display: flex;
    flex-direction: column;
}

.container-texto {
    font: 700 1.5em Roboto;
    padding: 1em 0em;
    margin-left: 0.5em;
}

.container-input {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-conteudo-1 {
    display: flex;
    flex-direction: column;
}

.input-1, .input-2, .input-3, .input-4 {
    padding: 0.5em 0em;
}

.container-conteudo-2 {
    display: flex;
    flex-direction: column;
}

.input-5 {
    margin-left: 25em;
    margin-top: -23.7em;
}

.input-6, .input-7 {
    margin-left: 25em;
    margin-top: 1em;
}

.input-texto {
    font: 500 1em Roboto;
    color: #525050;

    margin: 0.5em;
    margin-left: 2em;
}

input {
    width: 340px;
    height: 45px;
    margin-left: 2em;

    background: #F9F9F9;
    border: 1px solid #E5E5E5;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1em;
    outline: none;
}

button {
    width: 160px;
    height: 35px;

    background-color: #FB8500;
    color: white;

    border-radius: 0.5em;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font: 500 1em Roboto;
    margin-left: 80em;
    margin-top: 9.9em;
}