body {
    margin: 0px;
}

.container-erro {
    height: 100vh;
    background-color: #14213D;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: white;
    font: 800 3em Roboto;
}

.subtitulo {
    color: white;
    font: 300 1.5em Roboto;
}