@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
    margin: 0px;
}

.container-perfil-usuario {
    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .6em 1em;
}

.logo-empresa img {
    width: 4em;
    height: 4em;

    border-radius: 4em;
}

.perfil-usuario {
    margin-left: -38em;
    margin-top: 0.6em;

    font: 1000 2em Montserrat;
}

.icone-sair img {
    width: 3em;
    height: 3em;

    margin-top: 1.2em;
    margin-left: -3.5em;
}

.container {
    display: flex;
    flex-direction: column;
}

.container-detalhes-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 21.8em;
    height: 32em;
    margin-top: 2em;
    margin-left: 20.5em;
    margin-right: 3em;

    background-color: #FB8500;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
    padding: 1em;
    border-radius: 1em;
}

.background-usuario {
    display: flex;
    flex-direction: column;

    width: 22em;
    height: 5em;
    margin-top: -1em;

    background-color: #14213D;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.25);
    padding: 1em;
    border-radius: 1em;
}

.imagem-usuario img {
    width: 9em;
    height: 9em;

    margin-top: -5em;
    margin-bottom: 1em;
}

.nome-usuario {
    font: 100 1em Montserrat;

    padding: 0.5em;
    padding-right: 12em;
    margin-bottom: 1em;

    background-color: #219EBC;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0.6em;
}

.id-usuario {
    font: 100 1em Montserrat;

    padding: 0.5em;
    padding-right: 11.6em;
    margin-top: 0.8em;
    margin-bottom: 1em;

    background-color: #219EBC;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0.6em;
}

.cpf-usuario {
    font: 100 1em Montserrat;

    padding: 0.5em;
    padding-right: 10.9em;
    margin-top: 0.8em;
    margin-bottom: 1em;

    background-color: #219EBC;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0.6em;
}

.genero-usuario {
    font: 100 1em Montserrat;

    padding: 0.5em;
    padding-right: 12.2em;
    margin-top: 0.8em;
    margin-bottom: 1em;

    background-color: #219EBC;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0.6em;
}

.data-nascimento-usuario {
    font: 100 1em Montserrat;

    padding: 0.5em;
    padding-right: 8.6em;
    margin-top: 0.8em;
    margin-bottom: 1em;

    background-color: #219EBC;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0.6em;
}

.telefone-usuario {
    font: 100 1em Montserrat;

    padding: 0.5em;
    padding-right: 8.8em;
    margin-top: 0.8em;
    margin-bottom: 1em;

    background-color: #219EBC;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0.6em;
}

.email-usuario {
    font: 100 1em Montserrat;

    padding: 0.5em;
    padding-right: 8.3em;
    margin-top: 0.8em;
    margin-bottom: 1em;

    background-color: #219EBC;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0.6em;
}

.icone-editar {
    width: 2em;
    height: 2em;

    margin-top: -3em;
    margin-left: 19.3em;
}

.container-enderecos-usuario {
    display: flex;
    flex-direction: column;

    width: 30em;
    height: 7em;
    padding: 1em;
    margin-top: -34em;
    margin-left: 46em;

    background-color: #FB8500;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0.6em;
}

.enderecos-usuario {
    font: 1000 1.3em Montserrat;
    color: white;
}

.enderecos-usuario-2 {
    font: 100 1.2em Montserrat;
    color: white;
}

.container-contas-bancarias-usuario {
    display: flex;
    flex-direction: column;

    width: 30em;
    height: 8em;
    padding: 1em;
    margin-top: 1em;
    margin-left: 46em;

    background-color: #FB8500;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0.6em;
}

.contas-bancarias-usuario {
    font: 1000 1.3em Montserrat;
    color: white;
}

.contas-bancarias-usuario-2 {
    font: 100 1.2em Montserrat;
    color: white;
}

.container-pedidos-usuario {
    display: flex;
    flex-direction: column;

    width: 30em;
    height: 11em;
    padding: 1em;
    margin-top: 1em;
    margin-left: 46em;

    background-color: #FB8500;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0.6em;
}

.pedidos-usuario {
    font: 1000 1.3em Montserrat;
    color: white;
}

.pedidos-usuario-2 {
    font: 100 1.2em Montserrat;
    color: white;
    padding-top: 0.8em;
}

.icone-seta {
    width: 1.5em;
    height: 1.5em;

    margin-top: -3.3em;
    margin-left: 23.8em;
}

.icone-seta-contas-bancarias {
    width: 1.5em;
    height: 1.5em;

    margin-top: -3.5em;
    margin-left: 23.8em;
}

.icone-seta-pedidos {
    width: 1.5em;
    height: 1.5em;

    margin-top: -1.5em;
    margin-left: 23.8em;
}

.icone-editar-enderecos {
    width: 1.7em;
    height: 1.7em;

    margin-top: -0.2em;
    margin-left: 23.8em;
}

.icone-editar-contas-bancarias {
    width: 1.7em;
    height: 1.7em;

    margin-top: -0.5em;
    margin-left: 23.8em;
}

.cancelar-pedido {
    font: 1000 0.8em Montserrat;
    text-decoration: underline;
    
    margin-top: 3.2em;
    margin-left: 11em;
}

button {
    width: 160px;
    height: 35px;

    background-color: #219EBC;
    color: white;

    border-radius: 0.5em;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font: 500 1em Montserrat;
    margin-left: 16.8em;
    margin-top: -1.8em;
}